root = true

[*]
# Encoding
charset = utf-8

# Line Break
end_of_line = lf

# Indentation
indent_style = space
indent_size = 2

# Before Save
trim_trailing_whitespace = true
insert_final_newline = true
